<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Kiarra Lavache</p>
    <img src="/static/Picture of Me.jpg" alt="Picture of Kiarra" height="250" width="200"> 
    <p>Current Sophomore</p>
    <p>Biomedical Engineering</p>
    <p><a href="/Pre-Med">Visit Pre-Med Page</a></p>
    <p><a href="/The Real Talk Initiative">Visit The Real Talk Page</a></p>
    <p><a href="https://baucemag.com/">This is one of my favorite websites!</a></p>
    </body>
</html>


