<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Pre-Med</title>
    <head>
    <body>
    <p><b>Why I Decided To Drop Pre-Med</b>
    <br><br>I decided to drop Pre-Med during the Fall 2019 semester. One of the
    <br>course requirements for medical school is physics lab. I had the option
    <br>to take the physics lab offered in Columbia College, but I took the
    <br>SEAS one instead because it fit into my schedule better. I was really
    <br>struggling in this class and it made me question if the amount of 
    <br>stress that I was under was worth it. After having multiple ~DEEP~
    <br>conversaitons with one of my mentors, I realized that medical school isn't
    <br>really what I want to do with my life. Now that I've come to this
    <br>realization, I think I'm more interested in getting a degree in Business
    <br> and/or Public Health.</p>
    <br><img src="/static/Pre-Med Gif.gif" alt="Pre-Med Gif"> </img>
    </body>
</html>
