<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Real Talk Initiative</title>
    <head>
    <body>
    <p><b>The Real Talk Inititative</b>
    <br><br>When I was in high school, I had the opportunity to attend SDLC 
    <br>(Student Diversity Leadership Conference) in Atlanta, GA. It was one of 
    <br>the best experiecnces of my life and I learned so much from being there.
    <br> When I came back, I wanted to try and bring some of what I learned back
    <br>to my high school community. With the help of some friends, I started
    <br><i>The Real Talk Initiative</i>. To learn more about <i>The Real Talk 
    <br>Initiative</i> and read the piece that I wrote, click the link below.</p>
    <br><p><a href="https://www.hopkins.edu/about-us/equity--community/real-talk-initiative">Click Here!</a>
    </body>
</html>